.circle {
    display: inline-block;
    border-radius: 50%;
    position: relative;
}

.black {
    height: 500px;
    width: 500px;
    background-color: black;
}

.red {
    height: 300px;
    width: 300px;
    margin: 100px 100px 100px 100px;
    background-color: red;
}

.burlywood {
    height: 150px;
    width: 150px;
    margin: 75px 75px 75px 75px;
    background-color: burlywood;
}